body{
  background-image: url("img/img1.jpg");
    
}

h1 {
    color: #FFACAC;
   font-family:papyrus;
   font-size: 40px;
   text-align: center;
   text-shadow: 1px 1px 2px black;
   background:#FBFFB1;
  }


  #formulario{
    text-align: center;
  }

  .message1{
    width: 400px;
    height: 80px;
    background-color:#F0E9D2;
    border-radius: 5%;
    border-width: medium;
    border-color: #FEFCF3;
    border-style: inset;
    outline: 2px#E8D2A6;
    font-family: papyrus;
    font-size: 15px;
    font-weight: bold;
    color:#C92C6D;
    text-align: center;

  }

  .offset{
   font-family: papyrus;
   font-size: 15px;
   font-weight: bolder;
   text-shadow: 1px 1px 2px #FCDDB0;
   color: #7B8FA1
  }

  #key-cipher{
    font-family: papyrus;
    font-size: 15px;
    font-weight: bold;
    background-color:#F0E9D2;
    border-radius: 5%;
    border-width: medium;
    border-color: #FEFCF3;

  }

  .options{
    width: 150px;
    height: 30px;
    font-family: papyrus;
    font-weight: bolder;
    color: #251749 ;
    background-color: #D0B8A8;
    border-radius: 10%;
    border-color: #F0E9D2;
  }



